section(class="courses")
    div(class="courses__container container")
        h3(class="courses__heading") Наши курсы
        div(class="courses__text") Выберите себе занятие по душе
        ul(class="courses__list")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_8.jpg" alt="Course photo")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_9.jpg" alt="Course photo")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_10.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_11.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_12.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_13.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_14.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_15.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_16.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_17.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_18.jpg" alt="Фотография курсов")
            li(class="courses__item")
                a(class="courses__item-link" href="./")
                    img(class="courses__img" src="./images/photos/photo_19.jpg" alt="Фотография курсов")