section(class="gallery")
    div(class="gallery__container container")
        div(class="gallery__heading") Галерея работ
        div(class="gallery__slider")
            div(class="gallery__arrow-wrap gallery__arrow--left")
                svg(class="gallery__arrow" width="21" height="16" viewBox="0 0 21 16")
                    use(xlink:href="./images/sprites.svg#arrow-left")
            div(class="gallery__slider-wrap")
                ul(class="gallery__list")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_4.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_5.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_6.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_7.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_4.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_5.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_6.jpg" alt="Фотография работы")
                    li(class="gallery__item")
                        a(class="gallery__item-link" href="./")
                            img(class="gallery__item-img" src="./images/photos/photo_7.jpg" alt="Фотография работы")
            div(class="gallery__arrow-wrap gallery__arrow--right")
                svg(class="gallery__arrow" width="21" height="16" viewBox="0 0 21 16")
                    use(xlink:href="./images/sprites.svg#arrow-right")
        ul(class="gallery__pagination")
                li(class="gallery__pagination-item")
                li(class="gallery__pagination-item")
                li(class="gallery__pagination-item")
                li(class="gallery__pagination-item")
                li(class="gallery__pagination-item")
                li(class="gallery__pagination-item")
        a(class="gallery__button btn-gradient" href="./") Перейти к занятиям


        
    
