section(class = "footer")
    div(class="last_block_container")
        h3 Галерея работ
        div(class="gallery_photoes")
            div(class="gallery_galary")
                a(href="#")
                    button(class="left_swipe btn_swipe") 
                img(src="./images/photos/photo_4.png" alt="")
                img(src="./images/photos/photo_5.png" alt="")
                img(src="./images/photos/photo_6.png" alt="")
                img(src="./images/photos/photo_7.png" alt="")
                a(href="#")
                    button(class="right_swipe btn_swipe")

            div(class="gallery_points")
                a(href="#" class="gallery_point_1")
                a(href="#" class="gallery_point_2")
                a(href="#" class="gallery_point_3")
                a(href="#" class="gallery_point_4")
                a(href="#" class="gallery_point_5")
                a(href="#" class="gallery_point_6")
        
        div(class="container_for_last_gallery_btn")
            a(href="#")
                button(class="last_gallery_btn") Перейти к занятиям
        
    
