section(class="welcome")
    include ../imports/header
    div(class="welcome__container container")
        div(class="welcome__wrap")
            h2(class="welcome__heading") Место, где меняется всё❤️
            div(class="welcome__text") Здесь мы поможем Вам раскрыть творческие способности!
            a(class="welcome__button btn-gradient" href="./") Начать обучение
        ul(class="welcome__img-list")
            li(class="welcome__img-item")
                img(class="welcome__img" src="./images/photos/photo_1.jpg")
            li(class="welcome__img-item")
                img(class="welcome__img" src="./images/photos/photo_2.jpg")
            li(class="welcome__img-item")
                img(class="welcome__img" src="./images/photos/photo_3.jpg")
