.gallery {
  &__container {
    padding: rem(110px) 0;
    align-items: flex-end;
  }

  &__heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: rem(50px);
    line-height: rem(61px);
    letter-spacing: 0.2em;
    color: #000000;
    margin-bottom: rem(70px);
    width: 100%;
    text-align: left;
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-wrap {
      width: 100%;
      position: relative;
      height: rem(291px);
      overflow: hidden;
    }
  }

  &__arrow {
    stroke: black;
    fill: none;

    &-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      border-radius: 100%;
      width: rem(40px);
      height: rem(40px);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--left {
      left: rem(-30px);
      background: #383C78;
      transform: translateX(-50%);
    }

    &--right {
      background: #F42C27;
      right: rem(-30px);
      transform: translateX(50%);
    }
  }

  &__list {
    display: flex;
    position: absolute;
    height: 100%;
  }

  &__item {
    width: rem(255px);
    height: 100%;
    display: flex;

    &:not(:last-child) {
      margin-right: rem(30px);
    }

    &-link {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__pagination {
    display: flex;
    margin-top: rem(82px);
    justify-content: center;
    width: 100%;
    &-item {
      width: rem(15px);
      height: rem(15px);
      border-radius: 100%;
      cursor: pointer;

      &:nth-child(1) {
        background: #383C78;
      }

      &:nth-child(2) {
        background: #795065;
      }

      &:nth-child(3) {
        background: #A35856;
      }

      &:nth-child(4) {
        background: #F57040;
      }

      &:nth-child(5) {
        background: #F24C39;
      }

      &:nth-child(6) {
        background: #F42C27;
      }

      &:not(:last-child) {
        margin-right: rem(80px);
      }
    }
  }

  &__button {
    width: rem(255px);
    padding: rem(12px) 0;
    margin-top: rem(85px);
    font-size: rem(10px);
    line-height: rem(12px);
  }
}