/* Utils:
  ========================================================================== */
@import './utils/fonts';
@import './utils/libs';
@import './utils/mixins';
@import './utils/vars';

/* Main styles:
  ========================================================================== */

html {
  font-size: $mainFontSize;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  width: 100%;
}

/* Base styles:
  ========================================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: rem($desktopWidth);
  display: flex;
  flex-direction: column;
}

.btn-gradient {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2em;
  white-space: nowrap;
  color: #FFFFFF;
  background: linear-gradient(90.72deg, #343E73 0.09%, #EA743D 53.22%, #EC2F1D 100.09%);
  border-radius: rem(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

/* Imports:
  ========================================================================== */
@import 'imports/modal-version';
@import 'imports/header';

/* Sections:
  ========================================================================== */
@import 'sections/welcome';