/* Font:
  ========================================================================== */
$mainFont: 'Montserrat', sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: rem(20px);

/* Sizes:
  ========================================================================== */
$desktopWidth: 1110px;
$tableWidth: 768px;
$phonesWidth: 480px;
