footer(class = "footer")
    div(class="footer_container")
        div(class="last_wish") Желаем вам <br> творческих успехов!
        ul(class="last_help_menu")
        
            li(class="last_help_menu_item1")
                a(href="#") Информация
            li(class="last_help_menu_item2")
                a(href="#") Частые вопросы
            li(class="last_help_menu_item3")
                a(href="#") Пользовательское соглашение
