footer(class = "footer")
    div(class="footer__container container")
        div(class="footer__title") Желаем Вам творческих успехов!
        div(class="footer__info")
            div(class="footer__info-title") Информация
            ul(class="footer__info-list")
                li(class="footer__info-item")
                    a(class="footer__info-link" href="./") Частые вопросы
                li(class="footer__info-item")
                    a(class="footer__info-link" href="./") Пользовательское соглашение
