div(class="modal-version")
    span(class="modal-version__title") Включить детский режим?
    a(class="modal-version__switch" href="./") Да, включить
    span(class="modal-version__close") Нет, остаться на этой версии сайта